
#main {
    font-family: Arial;
    color:white;
    font-size:25px;
    text-align: center;
    margin:0;
    padding:0;
}

.title {
    font-size:60px;
}

.subtitle {
    margin-top:20px;
    font-size:30px;
}

.button {
    font-weight: bold;
}

.button:hover {
    color:yellow;
}

#fader {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0;
}

#menu {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


#hud {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
